button {
  padding: 0.5rem 1rem;
  background-color: #4c3f91;
  border: none;
  outline: none;
  color: white;
  font-size: x-large;
  margin: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-left: 4rem;
}
.input,
.label {
  display: block;
  margin: 1rem;
  color: #171717;
}
.label {
  font-size: large;
  margin-bottom: 2rem;
}

.input {
  border: none;
  outline: none;
  border-bottom: solid 2px grey;
  font-size: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  width: 50%;
  font-size: large;
}
.warning {
  font-size: large;
  color: #dd4a48;
  margin: 1rem;
}
.invalid-input {
  border-bottom: 2px solid #dd4a48;
  background-color: #ffe5e5;
}
