@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body {
  width: 100%;
  max-width: 700px;
  margin: auto;
  background-color: #ede3ff;
  color: black;
}
